body{
    
    margin:0px auto ;
    width: 100%;
   /* font-family: 'Roboto', sans-serif;*/
}


nav ul li {
    list-style-type:none;
    float: left;
    padding-right: 2.5em;/* (px,em,%),pt,cm */
    color:white;
}

nav ul{
    float:right;
   /* width: 100%;*/
}
nav{
    width:100%;
    height:50px;
    background-color:#14274e;
    position:fixed;
}
nav ul li a{
    text-decoration: none;
    color: white;
    
}
section{
    background-color:#bbbfca; 
}
.home{
    background-color:#590995; 
    text-align: center;
    font-size:40px;
    color:black;
    padding:60px;
    
   /* display: table;
    height: 60vh;
    width: 100%;*/
}
/*.inner{
    display: table-cell;
    vertical-align: middle;
}*/
.home/*.inner*/ img{
    border-radius:150px; 
    /*margin-top: 20px;*/
    
    width: 300px;
    height:auto;
}
/*.home.inner h1{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}*/
.about{
    
    background-image: url('https://www.sapphirewebsolutions.com/wp-content/uploads/2019/09/Web-Development-Trends.jpg');
    
    color: white;
        
    display:table;
    height:50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.about .inner {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  float: left;
  
  padding-top: 75px;
  padding-left: 50px;
}
.about .inner h1 {
  font-size: 42px;
  color:white;
  font-weight: 300;
}
.about .inner p {
  font-size: 25px;
  line-height: 50px;
  color:white;
    background-color: rgba(0, 0, 0, 0.5);
   /* line-height:50px;*/
}
.education{
    background-color:white;
    display:table;
    height: 50vh;
    width: 100%;
}
.education.inner{
    padding:50px; 
}
.education h1, .hobbies h1,.skills h1,.contact h1{
    font-size: 42px;
}
.education .inner div,.hobbies .inner div,.skills .inner div{
    width:30%;
    margin-left:5px;
    margin-right:5PX;
    float: left;
    text-align: center;
}
.education .inner div p,.hobbies .inner div p,.skills .inner div ul li,.contact .inner div p {
    font-size: 15px;
    
}
.education .inner div img, .hobbies .inner div img{ 
    width: 100px;
    height: auto;
}
.hobbies, .skills,.contact {
    background-color:white;
     display:table;
    height: 50vh;
    width: 100%;
}
.hobbies.inner,.contact .inner{
    padding: 50px;
}
.hobbies .inner div p{
<<<<<<< Updated upstream
    font-size: 24px;
=======
    font-size: 26px;
>>>>>>> Stashed changes
}
.skills{
    background-image: url("https://cdn.acodez.in/wp-content/uploads/2019/07/What-is-the-future-and-scope-of-web-development-career-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.skills .inner {
  padding: 10px;
  color:white;
}
.skills .inner div ul li{
    list-style-type: none;
}
.skills .inner div ul li{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 4px;
    /*padding-bottom: 4px;*/
}
.contact .inner{
    text-align: center;
     background-color:#790c5a
}
.contact .inner div p{
    font-size: 40px;
}

       
    
}

.footer {
    background-color: gainsboro;
    display: table;
    height: 8vh;
    width: 100%;
   
	}
.footer .inner div{
    width:5%;
    margin-left:40px;
    margin-right:40PX;
    float:left;
    text-align: center;
    
    
}
.footer .inner div img{
    width:30px;
    height:30px;
      margin-left:295px;
    margin-right:295pX;
    padding-top: 5px;
    
}
  



/* responsive desiging*/
@media(min-width:320px) and (max-width:767px){
    .home .inner img{
        padding-top: 10px;
        
        
    }
    /*.about{
        background:#f1d4d4!important;
    }*/
    .about .inner{
        width: 75%;
        padding: 25px;
    }
    .about .inner p{
        font-size:20px;
        /*text-align: justify;*/
    }
    .education .inner div, .hobbies .inner div, .skills .inner div{
        width: 100%;
    }
    .hobbies .inner div{
        border-bottom: 2px solid #d3d3d3;
    }
    .footer {
    background-color: gainsboro;
    display: table;
    height: 4vh;
    width: 100%;
   
	}
    .footer .inner div{
    width:5%;
    margin-left:30px;
    margin-right:30PX;
    float:left;
        text-align: center;}
    
    .footer .inner div img{
    width:30x;
    height:30px;
    /* margin-left:10px;*/
    margin-right:20pX;
         padding-top: 6px;
    
}
} 
/*@media(min-width:768px) and (max-width:1023px){
    /* .about .inner p{
        font-size:23px;
        /*text-align: justify;*/
    }
    /*.hobbies .inner p{
        font-size:29px;
    }*/
*/
}
@media(min-width:1024px) and (max-width:1439px){
    
}*/
